html {
    box-sizing: border-box;
}

#main-container {
    width: 960px;
    /* height: 960px; */
    background-color: yellow;
    display: flex;
    flex-wrap: wrap; 
}

.square {
    background-color: black;
    /* flex-grow: 0;
    flex-shrink: 1; */
    border-color: white;
    border-width: 3px;
    border-style: solid;
    box-sizing: border-box;

}