
.main-container {
    width: 960px;
    /* height: 960px; */
    /*background-color: pink;*/
    display: flex;
    flex-wrap: wrap; 
}

.square {
    background-color: #F4F6F7 ;
    /* flex-grow: 0;
    flex-shrink: 1; */
    border-color: #D5D8DC ;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;

}

input {
    margin-left: 430px;
    margin-bottom: 20px;
    margin-top: 10px;
}

input:hover {

    background-color: rgb(84, 82, 82, 0.5);
    border-width: 1px;
    border-color: rgb(84, 82, 82);
}

 .hovered {
    background-color: rgb(17, 16, 16);
 /*    esta buenisima la idea del radius para hacerlo redondito al trazo, pero tira fallos, me pone toda 
    la pantalla del color, no se porque.
    border-radius: 4px; */
}  